*{
   
 

   /* background:rgb(211, 221, 240);*/
    
    
  
    

    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 150%;
    padding: 0px;
    margin: 0;
    box-sizing: 0;


}
body{
    background-image: url(maquina.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
 
   
}


h1{
    display: inline-block;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    margin-top: 95px;
    font-size: 59px;
    line-height: 150%;
    margin-left: 500px;

}
.logoAlura{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    background-color: transparent;
    border: none;
    color: #424141fd;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{
    color: gray;}

    .text-area:focus{
        outline: none;
    }

    .mensagem{
        /*opacity: 75%;
        box-shadow: 5px 5px 10px 1px #000;
        background: white;
        background-image: url(animacao.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        border-radius: 10px;
        color:#0a3871;*/
        background-image: url(animacao2.jpg);
        opacity: 75%;
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid #ccc;
        border-radius: 10px;
        
        color: #333;
        background-color: #dee2e2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        
        margin-top: 20px;
        padding-left: 20px;
        height: 500px;
        margin-left: 520px;
        


    }
    .mensagem::placeholder{
        color:#aaa;
    }

    .mensagem:focus{
        outline: none;
    }

    .informacao{
        font-size: 20px;
        transform: translateY(155px);
       
    }


.botao{
    display: flex;
    transform: translateY(40px);
   position: absolute;
     left: 6px;
    
    

}

.btn-desencriptar, .btn-encriptar{
    width: 170px;
    margin-left: 20px;
    
    margin-top: 120px;
    

    background-color: #dbdada;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    
   font-size: 25px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   

}
.btn-desencriptar:hover,.btn-encriptar:hover{
    
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
     
      
      
      
}

.btn-desencriptar:focus, .btn-encriptar:focus{
    
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.btn-copiar{
    
    margin-left: 589px;
    position: flex;
    width: 170px;
    
    background-color: #dbdada;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    
   font-size: 25px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
}

.btn-copiar:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn-copiar:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media screen and (max-width: 480px) {
    .mensagem, .btn-copiar{
        margin-left: 340px;

    }
    .btn-copiar{

    }
    

    
}